html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 236, 236);
}

.scroll-box {
    height: 200px;
    width: 600px;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

.led-box {
    height: 100px;
    width: 600px;
    border: 1px solid #ccc;
}